@external .gwt-*; /**
*
*
*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gwt-Label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #333333;
}

.gwt-HTML {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #333333;
}

.gwt-Button {
	width: auto;
	height: 25px;
	margin: 0;
	border: solid 1px #900;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #DC000D;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border-image: initial;
}

.gwt-Button:active {
	
}

.gwt-Button:hover {
	
}

.gwt-Button[disabled] {
	cursor: default;
	color: grey;
	text-shadow: rgba(0, 0, 0, 0) 0 0px 0;
}

.gwt-Button[disabled]:hover {
	
}

.gwt-TextBox,.gwt-PasswordTextBox,.gwt-TextArea,.gwt-SuggestBox,.gwt-ListBox,.gwt-DateBox
	{
	background-color: white;
	color: #4F4F4F;
	border: 1px solid #BDC7D8;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	resize: none;
}

.gwt-TextArea-readonly,.gwt-PasswordTextBox-readonly,.gwt-SuggestBox-readonly
	{
	background-color: #CED3D8;
}

@external .middleLeft, .middleRight, .dialogTopRight, .dialogTopLeft,.dialogMiddleLeft,.dialogMiddleRight;
.gwt-DecoratorPanel .middleLeft,.gwt-DecoratorPanel .middleRight,.gwt-DialogBox .dialogTopRight,.gwt-DialogBox .dialogTopLeft,.gwt-DialogBox .dialogMiddleLeft,.gwt-DialogBox .dialogMiddleRight
	{
	background: transparent none repeat scroll 0 0;
}

@external .topLeftInner,.topRightInner,.bottomLeftInner,.bottomRightInner;
.gwt-DecoratorPanel .topLeftInner,.gwt-DecoratorPanel .topRightInner,.gwt-DecoratorPanel .bottomLeftInner,.gwt-DecoratorPanel .bottomRightInner
	{
	height: 0px;
	width: 0px;
}

@external .topCenter, .bottomCenter ;
.gwt-DecoratorPanel .topCenter {
	background: transparent none repeat scroll 0 0;
}

.gwt-DecoratorPanel .bottomCenter {
	background: transparent none repeat scroll 0 0;
}

.gwt-DisclosurePanel {
	padding: 10px 20px 10px 50px;
}