
.sd-CommentBox {
	position: relative;
	list-style: none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.sd-CommentBox .container {
	background-color: white;
}

.sd-CommentBox .containerHead {
	background: white;
	cursor: default;
	position: relative;
}

.sd-CommentBox .textArea {
	background-color: transparent;
	border: 0;
	outline: 0;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	resize: none;
}
