.cellTableWidget {
	
}

.cellTableFirstColumn {
	
}

.cellTableLastColumn {
}

.cellTableFooter {
}

.cellTableHeader {
}

.cellTableCell {
	padding: 22px 5px;
	overflow: hidden;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
	
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader {
	
}

.cellTableSortableHeader {
}

.cellTableSortableHeader:hover {
	
}

.cellTableSortedHeaderAscending {
	
}

.cellTableSortedHeaderDescending {
	
}

.cellTableEvenRow { 
	
}

.cellTableEvenRowCell {
	border-bottom: 1px #E5E5E5 solid;
}

.cellTableOddRow { 
	background: #E7E7E7;
}

.cellTableOddRowCell {
	
}

.cellTableHoveredRow { 
	
}

.cellTableHoveredRowCell {
}

.cellTableKeyboardSelectedRow { 
}

.cellTableKeyboardSelectedRowCell {
}

.cellTableSelectedRow {
}

.cellTableSelectedRowCell {
	
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
	
}

.cellTableLoading {
	margin: 30px;
}