@CHARSET "UTF-8";

.title {
	font-size: 1.55em;
	color: #525252;
	padding: 5px 0px 0px 5px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	font-size: 1.3em;
	color: #525252;
	padding: 5px 0px 0px 5px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.category {
	font-size: 1em;
	color: black;
	padding-left: 5px;
	font-weight: bold;
}

.valueMargin {
	margin-left: 50px;
	margin-right: 10px;
}

.value {
	font-size: 1.3em;
	color: #525252;
}

.description {
	font-size: 1.2em;
	text-align: justify;
}

.downMargined {
	margin-bottom: 3px;
}

.topMargined {
	margin-top: 10px;
}

.margined {
	padding: 0px 5px;
}

.imageArea {
	text-align: center;
}

.map {
	width: 100%;
	height: 200px;
}

.mapContainer {
	padding: 0px 15% 0px 15%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.textBox {
	width: 100%;
}

.textArea {
	width: 100%;
	height: 100px;
}

@sprite 
.button {
	gwt-image: 'headerBackground';
	height: 30px;
	border: 1px solid black;
	border-radius: 10px;
}