@CHARSET "UTF-8";

@external .container-fluid;
@external .row-fluid;
@external .span*;
@external .index-*;
.container-fluid {
	padding: 40px 0 0;
}

.index-right {
	padding-top: 20px;
	margin-left: 1.5% !important;
	min-height: 100%;
}

.index-main {
	height: 100%;
	min-height: 100%;
}

.index-left {
	padding: 20px 0 0 10px;
	font-weight: lighter;
}

.index-center {
	margin: 0;
	padding: 20px 0px;
}

.info-panel {
	
}

.info-panel>:first-child {
	margin-top: 0;
}

.empty-placeholder {
	font-size: 1.25em;
	font-weight: bold;
	color: #999999;
	text-align: center;
	margin-top: 10px;
}

.print_and_settings {
	float: right;
	margin: 12px 10px 0px 0px;
}

@external .invite_experts;
.invite_experts textarea {
	height: 115px;
	width: 320px;
}

@external .vote-button;
.vote-button {
	margin-left: 3px;
	margin-right: 3px;
}

@external .expertList;
.expertList {
	margin-top: 10px;
}

@external .fade;
@external .in;
.fade.in {
	opacity: 0.96;
}

@external .alert;
.alert {
	position: fixed;
	top: 0px;
	left: 25%;
	z-index: 100000;
	right: 25%;
	text-align: center;
	font-weight: bold;
}

h2 small {
	display: block;
}