@CHARSET "UTF-8";

@external .container-fluid;
@external .row-fluid;
@external .span*;
@external .index-*;

.container-fluid {
	padding: 40px 0 0;
}


.span4.index-right {
	margin: 0px;
	padding-top: 20px;
	min-height: 100%;
	position: relative;
}

.index-main {
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.index-left {
	padding: 20px 20px 0 10px;
	float: left;
	width: 195px;
	font-weight: lighter;
	min-height: 0px;
}

.index-center {
	position: absolute;
	margin: 0;
	bottom: 20px;
	top: 20px;
	right: 0;
	padding: 0px 10px;
	left: 205px;
}

.info-panel {
	
}

.info-panel>:first-child {
	margin-top: 0;
}

.empty-placeholder {
	font-size: 1.25em;
	font-weight: bold;
	color: #999999;
	text-align: center;
}

.print_and_settings {
	float: right;
	margin: 12px 10px 0px 0px;
}