@CHARSET "UTF-8";

.row-fluid {
	width: 100%;
	height: 100%;
	margin: 40px 0;
}

.row-fluid:before,.row-fluid:after {
	display: table;
	content: "";
}

.row-fluid:after {
	clear: both;
}

.span1 {
	width: 60px;
	float: left;
	margin-left: 20px;
}

.span2 {
	width: 140px;
	float: left;
	margin-left: 20px;
}

.span3 {
	width: 200px;
	float: left;
	margin-left: 20px;
}

.span4 {
	width: 300px;
	float: left;
	margin-left: 20px;
}

.span5 {
	width: 380px;
	float: left;
	margin-left: 20px;
}

.span6 {
	width: 460px;
	float: left;
	margin-left: 20px;
}

.span7 {
	width: 540px;
	float: left;
	margin-left: 20px;
}

.span8 {
	width: 620px;
	float: left;
	margin-left: 20px;
}

.row-fluid .span1:first-child,.row-fluid .span2:first-child,.row-fluid .span3:first-child,.row-fluid .span4:first-child,.row-fluid .span5:first-child,.row-fluid .span6:first-child,.row-fluid .span7:first-child,.row-fluid .span8:first-child
	{
	margin-left: 0;
}

.row-fluid .span1,.row-fluid .span2,.row-fluid .span3,.row-fluid .span4,.row-fluid .span5,.row-fluid .span6,.row-fluid .span7,.row-fluid .span8
	{
	display: block;
	width: 100%;
	min-height: 28px;
	\-webkit-box-sizing: border-box;
	\-moz-box-sizing: border-box;
	\-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.128%;
}

.row-fluid .span4 {
	width: 31.915%;
}

.row-fluid .span8 {
	width: 65.957%;
}

.span4.index-right {
	margin: 0px;
	padding-top: 20px;
	min-height: 100%;
	position: relative;
}

.index-main {
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.index-left {
	padding: 10px 10px 0 10px;
	float: left;
	width: 195px;
	font-weight: lighter;
	min-height: 0px;
}

.index-center {
	position: absolute;
	margin: 0;
	bottom: 20px;
	top: 20px;
	right: 0;
	padding: 0px 10px;
	left: 205px;
}

.info-panel {
	
}

.info-panel>:first-child {
	margin-top: 0;
}

.tab-content {
	overflow: auto;
}

.tab-well {
	padding: 0;
	border: 0;
}

.tab-well .tab-content {
	overflow: visible;
	margin: 4px 9px 8px;
}

.empty-placeholder {
	font-size: 1.25em;
	font-weight: bold;
	color: #999999;
	text-align: center;
}

.print_and_settings {
	float: right;
	margin: 12px 10px 0px 0px;
}