@external .gwt-*;
@external .gwt-DisclosurePanel .header;
@external .gwt-DisclosurePanel .content;
@external .form-*;
@external .well;
@external .row;
@external .row-*;
@external .thumbnails;
@external .page-header;
html {
	font-size: 100%;
	\-webkit-text-size-adjust: 100%;
	\-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	line-height: 22px;
	color: #333;
	background-color: #efefef;
}

body,table td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,
		'PTSansRegular';
	font-size: 13px;
}

label {
	margin-right: 5px;
	margin-left: 5px;
}

select {
	width: auto;
}

.page-header {
	text-align: justify;
	margin: 0;
}

.form-inline {
	border: none;
	box-shadow: 0 0;
}

a,a:visited,a:hover {
	color: #318bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:hover,a:active {
	outline: 0;
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.gwt-InlineHyperlink {
	color: #318bff;
	text-decoration: none;
}

.gwt-Anchor {
	color: #318bff;
	text-decoration: none;
}

.well {
	background: white;
}

.row {
	margin-left: 0px;
}

@external .hide-tabs;
.hide-tabs [class~="nav-tabs"] {
	display: none;
}

@sprite 
.separator {
	gwt-image: "separator";
	height: 60px;
	margin: 0;
	border: 0;
}

@external .btn;
@external .btn-*;
.btn-primary {
	background-color: #287deb;
	background-image: -moz-linear-gradient(top, #318bff, #1a67cd);
	background-image: -ms-linear-gradient(top, #318bff, #1a67cd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#318bff),
		to(#1a67cd));
	background-image: -webkit-linear-gradient(top, #318bff, #1a67cd);
	background-image: -o-linear-gradient(top, #318bff, #1a67cd);
	background-image: linear-gradient(top, #318bff, #1a67cd);
	background-repeat: repeat-x;
	border-color: #1a67cd #1a67cd #114589;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary,.btn-primary:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-create {
	margin-top: 55px;
}

.row-fluid [class *="span"]:nth-child\(3n\) {
	margin-left: 0px;
}

.problemList>li {
	height: 290px;
	margin-left: 0 !important;
	margin-right: 10px;
}

.problemList .create {
	border: 1px dashed #BEBEBE;
	text-align: center;
	height: 168px;
}

.problemSolutions {
	
}

@external .add-solution;
.add-solution {
	clear: right;
	padding: 0px 120px 0 5px;
	width: auto;
	margin: 30px 0 20px 0;
}

.add-solution input[type=text] {
	width: 100%;
}

.add-solution input[type="submit"].btn {
	float: right;
	display: block;
	padding: 4px 15px;
	margin-right: -120px;
}

.solutionList {
	list-style: none inside none;
	margin-left: 0;
}

.solutionList li {
	font-size: 15px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 9px;
}

@sprite 
.solutionList .solutionAvatar {
	gwt-image: "solutionAvatar";
}

.solutionList .solution {
	color: #4D4E4D;
}

.solutionList .solutionTitle {
	font-weight: bold;
}

.solutionList .solutionSubTitle {
	font-style: italic;
}

@external .dropdown-menu;
.solutionList .dropdown-menu {
	left: -200px !important;
}

@external .nav;
@external .dropdown-toggle;
@external .caret;
.nav .dropdown-toggle .caret {
	border-top-color: #000;
	border-bottom-color: #000;
}

@external visible-phone;
@external .caret;
.visible-phone .caret {
	display: none;
}

@external .profile;
.profile {
	height: 50px;
}

.profile img {
	width: 60px;
	float: left;
	margin: 0px 17px 0px 0;
}

@external .title;
.profile .title {
	display: inline-block;
	max-width: 110px;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}