@external .gwt-ScrollTable;
@external .gwt-ScrollTable .dataTable;
@external .gwt-ScrollTable .dataWrapper;
.headerContainer {
	padding-top: 3px;
}

@sprite 
.secondHeaderBackground {
	border-radius: 10px;
	gwt-image: 'secondHeaderBackground';
	padding: 10px;
}

.mainHeader {
	font-size: 1 em;
	text-align: center;
	margin-top: 8px;
}

.secondaryHeader {
	font-size: .8 em;
	text-align: center;
}

.itemsContainer {
	width: 100%;
	height: 40px;
	position: absolute !important;
}

.alignRight {
	margin-left: auto;
	text-align: right;
}

.margin {
	margin-left: 6px;
}

.cuttedText {
	right: 10px;
	text-overflow: ellipsis;
/* 	border: 1px solid black; */
	white-space: nowrap;
	overflow: hidden;
}