@CHARSET "UTF-8";

.mainContainer {
	overflow: visible;
	position: relative;
	width: 100%;
	padding: 0px 12px;
}

.leftCell {
	float: left;
}

.rightCell {
	float: right;
}

.container {
	width: 100%;
}

.container div {
	text-decoration: none;
}

.name {
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	color: black;
}

.description {
	text-decoration: none;
	font-size: 14px;
	color: black;
}

@external .header, .content;
.container .header,.container .header a,.container .header td {
	text-decoration: none; /* Remove underline from header */
	color: black;
	cursor: pointer;
	cursor: hand;
}

.contentArea {
	padding: 0px 12px;
}

.absoluteMarings {
	left: 20px;
	right: 20px;
}

.onTop {
	z-index: 10;
}

.progressBar {
	width: 90%;
	height: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.errorFont {
	color: red;
	margin: 10px;
	font-size: 1.05em;
	font-weight: bold;
}

.settingButton {
	margin: 4px;
}